
<div ng-show="screen === 'payasyougo'" class="px-6 py-8">
<div class="max-w-4xl mx-auto">
<div class="bg-white rounded-3xl p-8 mb-5">
<div class="grid grid-cols-1 gap-20">

<div>
<h2 class="text-2xl font-bold mb-4">Pay as you go</h2>

<div class="grid grid-cols-4 gap-4">


<!-- subcribers revenue -->
<div class="col-span-2">
<div class="p-4 bg-green-100 rounded-xl">
<div class="font-bold text-xl text-gray-800 leading-none">${{calculateTotal(Payasugo,'total') | number }}</div>
<div class="mt-2">Revenue</div>
</div>
</div>
<!-- //subscribers revenue -->



<!-- subscribers -->
<div class="col-span-2">
<div class="p-4 bg-yellow-100 rounded-xl text-gray-800">
<div class="font-bold text-2xl leading-none">{{Payasugo.length | number }}</div>
<div class="mt-2">Orders</div>
</div>
</div>
<!-- //subscribers -->



<!-- graph -->
<div ng-init="" class="col-span-4">
<div class="p-4 bg-white shadow-lg rounded-xl text-gray-800">

<!-- header -->
<div class="flex items-center justify-between mb-10">
<span class="font-bold text-md leading-none">Summary Delivery Mode {{selectedYear}}</span>

<span class="inline-flex cursor-pointer items-center justify-center w-6 h-6 text-gray-600 text-xs rounded bg-white transition relative">
<img onclick="document.getElementById('years_').classList.toggle('hidden')" src="/public/img/calendar.png" width="80%" height="80%">

<!-- calendar of years -->
<div onclick="document.getElementById('years_').classList.toggle('hidden')" id="years_" class="absolute hidden bg-purple-300 rounded-xl left-[-5rem] top-[1rem] w-[5rem] h-auto p-2">
<ul class="text-center space-y-2">
<li>2024</li>
</ul>
</div>
<!-- //calendar of years -->
</span>
</div>
<!-- //header -->

<canvas id="delivery-mode" class="w-full"></canvas>
</div>
</div>
<!-- //graph -->





<!-- table -->
<div  class="col-span-4">
<div class="p-4 bg-purple-100 shadow-lg rounded-xl text-gray-800">

<!-- header -->
<div class="flex items-center justify-between mb-10">
<span class="font-bold text-md leading-none">Orders List </span>
</div>
<!-- //header -->

<!-- table -->
<div class="overflow-x-auto">
<table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
<thead class="ltr:text-left rtl:text-right">
<tr>
<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Names</th>
<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Phone</th>
<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Services</th>
<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Total</th>
<th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date</th>
<th class="px-4 py-2"></th>
</tr>
</thead>

<tbody class="divide-y divide-gray-200">
<tr ng-repeat="x in Payasugo">
<td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">{{x.names}}<br>{{x.email}}</td>
<td class="whitespace-nowrap px-4 py-2 text-gray-700">{{x.phone}}</td>
<td class="whitespace-nowrap flex items-center flex-wrap gap-4 px-4 py-2 text-gray-700">

<span ng-repeat="y in x.cart" class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700">
  {{y.name | limitTo:10}}{{y.name.length > 10?'...':null}}
</span>

</td>
<td class="whitespace-nowrap px-4 py-2 text-gray-700">${{x.total | number}}</td>
<td class="whitespace-nowrap px-4 py-2 text-gray-700">{{x.dateCreated | date}}</td>
<td class="whitespace-nowrap px-4 py-2">
<a
ng-click="setValue('selectedOrder',x)" onclick="toggleModalSeeOrder()"
href="javascript:void(0)"
class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
>
View
</a>
</td>
</tr>

</tbody>
</table>
</div>
<!-- //table -->

</div>
</div>
<!-- //table -->





</div>
</div>






</div>
</div>
</div>
</div>
