<section class="flex-center contact" id="contact">
<div class="flex-center flex-col con-container">
<div class="flex-center flex-col con-title">
<h3>Vous n'avez pas trouvé ce que vous cherchez?</h3>
<p>
Ne vous inquiétez pas ! Contactez-nous avec via le support de votre choix
</p>
</div>

<div class="flex-center con-cards">
<div class="flex-center flex-col cc" data-aos="fade-up">
<i class="bx bxl-whatsapp" id="cc-icon"></i>
<h4>Discutez avec service client</h4>
<p>Discutez avec notre équipe amicale</p>
<a href="https://wa.me/2250713807994" target="_blank"
>Discutez sur WhatsApp</a
>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="300"
>
<i class="bx bx-envelope" id="cc-icon"></i>
<h4>Envoyez-nous un mail</h4>
<p>Nous sommes ici pour aider</p>
<a href="mailto:{hello@alphayele.com}" target="_blank"
>hello@alphayele.com</a
>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="400"
>
<i class="bx bx-map" id="cc-icon"></i>
<h4>Visitez-nous à :</h4>
<p>Cocody, Abidjan - Cote d’Ivoire</p>
<a href="" target="_blank">Afficher sur Google Maps</a>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="500"
>
<i class="bx bx-phone-call" id="cc-icon"></i>
<h4>Appelez-nous</h4>
<p>Lun-Ven 8h to 17h</p>
<a href="tel:{+2250713807994}" target="_blank"
>+225 07 13 807 994</a
>
</div>
</div>
</div>
</section>