<section class="flex-center faq" id="faq">
<div class="flex-center faq-container">
<div class="flex-center f-img">
<img src="https://alphacreative.netlify.app/assets/img/background/faq.jpg" alt="" loading="lazy" />
</div>

<div class="flex-center flex-col f-content">
<div class="flex-center flex-col fc-text">
<span>FAQ</span>
<h3>Questions fréquemment posées</h3>

<p>Vous avez des questions ? Nous avons des réponses !</p>
</div>

<div class="flex-center flex-col fc-list">
<div class="flex-center flex-col fcl">
<p>Quels services offrez-vous?</p>
<span>
AlphaYele vous propose une gamme de services à 360 degrés pour le développement de vos activités.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>Pour quels types d’entreprises travaillez-vous ?</p>
<span>
AlphaYele travaille avec des entreprises de toutes tailles et de tous secteurs. Nous sommes spécialisés dans la fourniture de services créatifs complets pour les entreprises B2B et B2C.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>Comment définissez-vous le succès?</p>
<span>
Nous définissons le succès comme la réalisation des objectifs de nos clients. Nous mesurons le succès de nos campagnes en termes de notoriété, d'engagement, de génération de leads et de ventes.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>Quel est votre processus de travail ?</p>
<span>
Nous travaillons en étroite collaboration avec nos clients pour comprendre leurs besoins et leurs objectifs. Nous élaborons ensuite une stratégie personnalisée pour atteindre ces objectifs.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>Quels sont les besoins des clients avec lesquels vous travaillez ?</p>
<span>
Les besoins de nos clients varient en fonction de leur taille, de leur secteur d'activité et de leurs objectifs. Cependant, certains besoins courants incluent : <br />
<strong>Améliorer leur image de marque </strong> ●
<strong>Génération de leads</strong> ●
<strong>Booster les ventes</strong> 
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>
</div>
</div>
</div>
</section>