<footer class="container footer">
<div class="flex-center flex-col f-container">
<div class="flex-center f-title">
<div class="flex-center flex-col ft-text">
<h2>Let's <span>talk</span>.</h2>
<h2>Let's <span>Partner</span>.</h2>
</div>

<div class="flex-center ft-logo">
<img src="/public/img/brand/emblem-white.png" alt="" />
</div>
</div>

<div class="flex-center f-footer">
<div class="flex-center flex-col ff-address">
<p>(+225) 07 13 807 994</p>
<p>Cocody, Abidjan - Cote d’Ivoire</p>
<p>hello@alphacreative.africa</p>
</div>

<div class="flex-center ff-links">
<ul class="flex-center flex-col ffl">
<p>B2B Services</p>
<li><a href="dm.html">Digital Marketing</a></li>
<li><a href="ita.html">Tech & Automation</a></li>
<li><a href="sms.html">SMS Marketing</a></li>
<li><a href="cloud.html">Cloud Backup</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Solution Products</p>
<li><a href="ap.html">Alpha Print</a></li>
<li><a href="ai.html">Alpha Influencers</a></li>
<li><a href="pr.html">Podcast Room</a></li>
<li><a href="aa.html">Alpha Academy</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Sitemap</p>
<li><a href="pricing.html">Packages</a></li>
<li><a href="team.html">About Us</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Socials</p>
<li>
<a
href="https://www.instagram.com/alphacreatiive"
target="_blank"
>Instagram</a
>
</li>
<li>
<a
href="https://www.facebook.com/@alphacreativeafrica"
target="_blank"
>Facebook</a
>
</li>
<li>
<a href="https://zaap.bio/Alpha-Creative" target="_blank"
>LinkedIn</a
>
</li>
</ul>
</div>
</div>
</div>

<div class="flex-center f-terms">
<p>© Alpha Creative. All rights reserved</p>

<div class="flex-center ft">
<a href="">Terms & Conditions</a>
<a href="">Privacy Policy</a>
</div>
</div>
</footer>