<footer class="container footer">
<div class="flex-center flex-col f-container">
<div class="flex-center f-title">
<div class="flex-center flex-col ft-text">
<h2>Discutons <span>Maintenant</span>.</h2>
<h2>Soyons  <span>Partenaires</span>.</h2>
</div>

<div class="flex-center ft-logo">
<img src="/public/img/brand/emblem-white.png" alt="" />
</div>
</div>

<div class="flex-center f-footer">
<div class="flex-center flex-col ff-address">
<p>(+225) 07 13 807 994</p>
<p>Cocody, Abidjan - Cote d’Ivoire</p>
<p>hello@alphayele.com</p>
</div>

<div class="flex-center ff-links">
<ul class="flex-center flex-col ffl">
<p>Services B2B</p>
<li><a href="/dm">Marketing Digital</a></li>
<li><a href="/ita">Technologie et IA</a></li>
<li><a href="/sms">SMS Marketing</a></li>
<li><a href="/cloud">Cloud Backup</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Solutions</p>
<li><a href="/ap">Alpha Print</a></li>
<li><a href="/ai">Alpha Influenceurs</a></li>
<li><a href="/pr">Alpha Podcast Room</a></li>
<li><a href="/aa">Alpha Academy</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Sitemap</p>
<li><a href="/pricing">Packages</a></li>
<li><a href="/team">À propos</a></li>
<li><a href="/contact">Contact</a></li>
</ul>

<ul class="flex-center flex-col ffl">
<p>Socials</p>
<li>
<a
href="https://www.instagram.com/alphacreatiive"
target="_blank"
>Instagram</a
>
</li>
<li>
<a
href="https://www.facebook.com/@alphacreativeafrica"
target="_blank"
>Facebook</a
>
</li>
<li>
<a href="https://zaap.bio/Alpha-Creative" target="_blank"
>LinkedIn</a
>
</li>
</ul>
</div>
</div>
</div>

<div class="flex-center f-terms">
<p>© AlphaYele. Tous droits réservés</p>

<div class="flex-center ft">
<!-- <a href="">Terms & Conditions</a> -->
<!-- <a href="">Privacy Policy</a> -->
</div>
</div>
</footer>