<header class="flex-center header">
<nav class="flex-center nav">
<div class="flex-center nav-logo">
<a href="/">
<img src="/public/img/brand/logo-black.png" alt="" loading="lazy" />
</a>
</div>

<div class="flex-center nav-menu">
<div class="flex-center nm-top">
<a href="/" class="nm-logo">
<img
src="/public/img/brand/logo-black.png"
alt=""
loading="lazy"
/>
</a>

<span
class="material-symbols-outlined"
id="nm-close"
onclick="toggleMenu()"
>
close
</span>
</div>

<ul class="flex-center nm-ul">
<li class="nml-s">
<a href="javascript:void(0)"
>Solutions <i class="bx bx-chevron-down"></i
></a>

<div class="flex-center nml-wrapper">
<div class="flex-center nml-drop">
<div class="flex-center flex-col nmld">
<h4>Tech Services</h4>

<div class="flex-center flex-col nmld-links">
<a href="dm"
>Digital Marketing <span id="nmld-span"></span
></a>

<a href="ita"
>Tech & Automation <span id="nmld-span"></span
></a>

<a href="sms"
>SMS Marketing <span id="nmld-span"></span
></a>

<a href="cloud"
>Cloud Backup <span id="nmld-span"></span
></a>
</div>
</div>

<div class="flex-center flex-col nmld">
<h4>Signature Products</h4>

<div class="flex-center flex-col nmld-links">
<a href="ap"
>Alpha Print <span id="nmld-span"></span
></a>
<a href="ai"
>Alpha Influencers <span id="nmld-span"></span
></a>
<a href="pr"
>Alpha Podcast Room <span id="nmld-span"></span
></a>
<a href="aa"
>Alpha Academy <span id="nmld-span"></span
></a>
</div>
</div>
</div>
</div>
</li>

<li class="nml">
<a href="pricing">Packages</a> <span></span>
</li>

<li class="nml"><a href="team">About Us</a> <span></span></li>

<li class="nml">
<a href="contact">Contact Us</a> <span></span>
</li>
</ul>

<a href="javascript:void(0)" class="nm-btn" onclick="toggleQuote()"
>Get Started</a
>
</div>

<div class="nm-open" onclick="toggleMenu()">
<span class="material-symbols-outlined"> menu </span>
</div>
</nav>
</header>