<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>Votre projet en <span>3 étapes</span></h3>

<div class="flex-center st-tags">
<div class="flex-center stt active">
<p>Projet ponctuel</p>
</div>
</div>
</div>

<div class="flex-center st-main" data-aos="fade-up">
<div class="flex-center stm">
<div class="flex-center flex-col stmc">
<span>Etape 01.</span>

<div class="flex-center stmc-text">
<p>Passez votre commande et payez</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Commencer un projet </button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 02.</span>

<div class="flex-center stmc-text">
<p>Remplissez le formulaire de détails du projet</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Commencer un projet</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 03.</span>

<div class="flex-center stmc-text">
<p>Livraison du produit final</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Commencer un projet</button>
</div>
</div>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">50</h4>
<sub>+</sub>
</div>
<span></span>
<p>PME/An </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="500">500</h4>
<sub>+</sub>
</div>
<span></span>
<p>projets livrés </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">100</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Budget média mensuel </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">10</h4>
<sub>+</sub>
</div>
<span></span>
<p>Experts</p>
</div>
</div>
</div>
</section>