<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->

<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="/public/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/public/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/public/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/public/img/favicon/site.webmanifest" />

<title>
Alpha Creative: The pan-African agency that thinks about the future!
</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body ng-controller="MainController">

<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>


<main class="ai-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
Externalisez votre <span>Campagne</span> d'influence avec succès! 
</h1>

<p>
De la sélection des influenceurs au reporting des résultats, nous nous occupons de tout.
</p>
</div>

<a
href="https://alphacreative.typeform.com/influencers"
target="_blank"
class="flex-center sec-link"
>
Booker vos influenceurs
<span class="material-symbols-outlined"> arrow_outward </span>
</a>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>Notre approche</h3>
<p>
Bénéficiez d’une stratégie d’influence performante basée sur vos valeurs et vos besoins.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01</span>
<h4>Stratégie personnalisée</h4>
<p>
Nous vous proposons une stratégie 100% personnalisée pour vous aligner sur vos valeurs et répondre à vos objectifs.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02</span>
<h4>On The Go</h4>
<p>
Gagnez du temps et maximisez vos résultats marketing en collaborant avec plus de 10.000 influenceurs triés sur le volet.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03</span>
<h4>Production de CGU</h4>
<p>
Nous vous proposons une stratégie pour trouver la clé d’une campagne de User Generated Content réussie.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>Comment ça marche?</h3>

<div class="flex-center st-tags">
<div class="flex-center stt active">
<p>4 petites étapes</p>
</div>
</div>
</div>

<div class="flex-center st-main" data-aos="fade-up">
<div class="flex-center stm">
<div class="flex-center flex-col stmc">
<span>Etape 01.</span>

<div class="flex-center stmc-text">
<p>Rencontrer l'équipe</p>
<span id="stmct"
>Rencontre de 25 min avec notre équipe pour identifier vos objectifs, vos valeurs et votre budget.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/influencers')"
>
Réservez votre influenceur
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 02.</span>

<div class="flex-center stmc-text">
<p>La sélection du créateur</p>
<span id="stmct"
>Nous effectuons une sélection raffinée et stratégique de 5 à 10 Top profils qui correspondent à vos valeurs et objectifs.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/influencers')"
>
Réservez votre influenceur
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 03.</span>

<div class="flex-center stmc-text">
<p>Plan d'action et exécution</p>
<span id="stmct"
>Nous établissons un court brief personnalisé comprenant vos objectifs, l'influenceur choisi et le calendrier éditorial de la campagne, ainsi que les indicateurs clés de performance (KPI).</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/influencers')"
>
Réservez votre influenceur
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 04.</span>

<div class="flex-center stmc-text">
<p>Rapports et surveillance</p>
<span id="stmct"
>Notre équipe vous enverra un rapport à la fin de chaque campagne avec des KPI et des enseignements que nous pourrons appliquer aux campagnes futures.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/influencers')"
>
Réservez votre influenceur
</button>
</div>
</div>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">50</h4>
<sub>+</sub>
</div>
<span></span>
<p>PME/An </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="500">500</h4>
<sub>+</sub>
</div>
<span></span>
<p>projets livrés </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">100</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Budget média mensuel </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">10</h4>
<sub>+</sub>
</div>
<span></span>
<p>Experts</p>
</div>
</div>
</div>
</section>

<!------------ ========== FAQ SECTION ========== ------------>
<%-include('components/faq-home')%>
</main>


<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>



<!-- <<<<<<<< SCRIPT >>>>>>>> -->
<script>
// JavaScript function to open the link in a new tab
function redirectToLink(url) {
window.open(url, "_blank"); // Open the specified URL in a new tab
}
</script>

<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
