<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="/public/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/public/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/public/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/public/img/favicon/site.webmanifest" />

<title>Contact Us - Alpha Creative</title>
</head>

<body ng-controller="MainController">

<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>


<main class="contact-main">
<!------------ ========== CERO SECTION ========== ------------>
<section class="flex-center cero">
<div class="flex-center ce-container">
<div class="flex-center flex-col ce-content">
<h1>Contact Us</h1>
<p>
Discutez, appelez, envoyez un e-mail ou remplissez le formulaire pour entrer en contact avec nos équipes.
</p>

<div class="flex-center flex-col cec-contact">
<a href="mailto:{hello@alphayele.com}" target="_blank"
>hello@alphayele.com</a
>
<a href="tel:{+2250713807994}" target="_blank"
>(+225) 07 13 807 994</a
>
<a href="https://wa.me/2250713807994" target="_blank"
>Discutez avec notre équipe amicale</a
>
</div>

<div class="flex-center cec-cards" data-aos="fade-right">
<div class="flex-center flex-col cecc">
<h5>Service client</h5>
<p>
Notre équipe d'assistance est disponible 24/7 pour répondre à toutes vos préoccupations ou questions.
</p>
</div>

<div class="flex-center flex-col cecc">
<h5>Feedback</h5>
<p>
Nous apprécions vos feedbacks et travaillons continuellement pour vous  garantir la meilleure expérience.
</p>
</div>

<div class="flex-center flex-col cecc">
<h5>Partenariats</h5>
<p>
Pour des questions liées à l'investissement ou des demandes de partenariat, contactez-nous à <a href="mailto:founders@africayele.com ">founders@africayele.com</a>
</p>
</div>
</div>
</div>

<div class="flex-center ce-img" data-aos="fade-up">
<img src="/public/img/background/bg-10.jpg" alt="" loading="lazy" />
</div>
</div>
</section>

<!------------ ========== C-FORM SECTION ========== ------------>
<secion class="flex-center c-form">
<div class="flex-center flex-col cf-container">
<div class="flex-center flex-col cf-title">
<h3>Formulaire de contact 👋</h3>
<p>
Besoin d'aide pour quelque chose ? Entrez en contact avec notre équipe sympathique et
nous reviendrons vers vous.
</p>
</div>

<form ng-submit="contactForm(_contactForm)" class="flex-center cf-form" data-aos="fade-up">
<div class="flex-center cf-input">
<div class="cfi">
<input
type="text"
name="fname"
id="fname"
placeholder="Prénom"
ng-model="_contactForm.fname"
required
autocomplete="on"
/>
</div>

<div class="cfi">
<input
type="text"
name="lname"
id="lname"
ng-model="_contactForm.lname"
placeholder="Nom de famille"
required
autocomplete="on"
/>
</div>

<div class="cfi">
<input
type="email"
name="email"
id="email"
ng-model="_contactForm.email"
placeholder="Votre e-mail"
required
autocomplete="on"
/>
</div>

<div class="cfi">
<select name="statut" id="statut" ng-model="_contactForm.statut" required>
<option value="">Sélectionnez votre statut</option>
<option value="entreprise">Entreprise</option>
<option value="individuel">Individuel</option>
</select>
</div>

<div class="cfi">
<label for="">Pour quel service nous contactez-vous ?</label>

<div class="flex-center cfi-tags">

<div ng-click="addToServiceWanted('alpha-inf')" class="cfit">
<i class="bx bx-checkbox"></i>
<p>Alpha Influencers</p>
</div>

<div ng-click="addToServiceWanted('podcast-r')"  class="cfit">
<i class="bx bx-checkbox"></i>
<p>The Podcast Room</p>
</div>

<div ng-click="addToServiceWanted('alpha-acad')" class="cfit">
<i class="bx bx-checkbox"></i>
<p>Alpha Academie</p>
</div>

<div ng-click="addToServiceWanted('alpha-print')" class="cfit">
<i class="bx bx-checkbox"></i>
<p>Alpha Print</p>
</div>

<div ng-click="addToServiceWanted('Spontanée')" class="cfit">
<i class="bx bx-checkbox"></i>
<p>Candidature Spontanée </p>
</div>

<div ng-click="addToServiceWanted('other')" class="cfit">
<i class="bx bx-checkbox"></i>
<p>Autre</p>
</div>
</div>
</div>
</div>

<div class="flex-center flex-col cf-action">
<textarea
name="content"
id="content"
ng-model="_contactForm.content"
placeholder="Nous aimerions avoir de vos nouvelles..."
></textarea>

<button type="submit" class="cfa-btn">Envoyer</button>
</div>
</form>
</div>
</secion>

<!------------ ========== FAQ SECTION ========== ------------>
<%-include('components/faq-home')%>
</main>



<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>



<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
