<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="https://alphacreative.netlify.app/assets/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="https://alphacreative.netlify.app/assets/img/favicon/site.webmanifest" />

<title>
Alpha Creative: The pan-African agency that thinks about the future!
</title>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body ng-controller="MainController">

<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>



<main class="homepage-main">
<!------------ ========== HERO SECTION ========== ------------>
<section class="flex-center hero">
<div class="flex-center h-container">
<div class="flex-center flex-col h-content">
<div class="flex-center flex-col hc-title">
<h1>Achieve</h1>

<ul class="hct-list">
<li class="hctl active">Awareness</li>
<li class="hctl">Lead</li>
<li class="hctl">Sales</li>
<li class="hctl">Goals</li>
</ul>
</div>

<p>
At Alpha Creative, we are passionate about helping our clients
access and create impactful services that connect with their
audiences.
</p>

<div class="flex-center hc-btns">
<button onclick="window.location.href = 'team'">
Discover Alpha Creative
</button>
<button onclick="toggleQuote()">
Get Started
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>

<div class="flex-center h-img" data-aos="fade-up">
<img
src="https://alphacreative.netlify.app/assets/img/background/hero-3.svg"
alt=""
loading="lazy"
class="himg"
/>

<div class="flex-center hi">
<p>La BEST agence créative <strong>Panafricaine</strong></p>

<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-white.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== PARTNERS SECTION ========== ------------>
<section class="flex-center partners">
<div class="flex-center flex-col pa-container">
<div class="flex-center flex-col pa-title">
<h3>Some of our partners</h3>
<span></span>
</div>

<div class="flex-center pa-cards">
<div class="pac">
<img src="https://alphacreative.netlify.app/assets/img/partners/google.svg" alt="" loading="lazy" />
</div>
<div class="pac">
<img src="https://alphacreative.netlify.app/assets/img/partners/meta.svg" alt="" loading="lazy" />
</div>
<div class="pac">
<img src="https://alphacreative.netlify.app/assets/img/partners/amazon.svg" alt="" loading="lazy" />
</div>
<div class="pac">
<img
src="https://alphacreative.netlify.app/assets/img/partners/linkedin.svg"
alt=""
loading="lazy"
/>
</div>
<div class="pac">
<img src="https://alphacreative.netlify.app/assets/img/partners/tiktok.svg" alt="" loading="lazy" />
</div>
</div>
</div>
</section>

<!------------ ========== ABOUT SECTION ========== ------------>
<section class="flex-center about" id="about">
<div class="flex-center flex-col a-container">
<div class="flex-center flex-col a-title">
<div class="flex-center at-tags">
<p>Who</p>
<span class="material-symbols-outlined"> add </span>
<p>We</p>
<span class="material-symbols-outlined"> add </span>
<p>Are</p>
</div>

<div class="flex-center at-text" data-aos="fade-up">
<h3>
Our team is made up of young professionals trained by the best
universities (African Leadership University or Holberton School)
and having gained varied and valuable experiences in global
companies (<a href="">Google</a>, <a href="">Meta</a> or
<a href="">Mckinsey & Company</a>).
</h3>
</div>
</div>

<div class="flex-center a-cards">
<div class="flex-center flex-col ac" data-aos="fade-up">
<span>01.</span>
<h4>
Your goals <br />
our guide
</h4>
<p>
We listen, define goals, and develop tailored solutions to help
you achieve them.
</p>
</div>

<div
class="flex-center flex-col ac"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>Collaboration and innovation</h4>
<p>
Our culture is driven by performance, collaboration, and a
constant pursuit of innovation.
</p>
</div>

<div
class="flex-center flex-col ac"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>Empowering Africa through digitalization</h4>
<p>
We envision a continent where every business thrives online.
</p>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">0</h4>
<sub>+</sub>
</div>
<span></span>
<p>Companies Supported / Yr</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="500">0</h4>
<sub>+</sub>
</div>
<span></span>
<p>Projects Delivered</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">0</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Monthly Media Budget</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">0</h4>
<sub>+</sub>
</div>
<span></span>
<p>Seasoned Experts</p>
</div>
</div>
</div>
</section>

<!------------ ========== SERVICES SECTION ========== ------------>
<section class="flex-center services">
<div class="flex-center flex-col s-container">
<div class="flex-center s-title">
<div class="flex-center set-tags">
<div class="sett active"><p>Digital Marketing</p></div>
<div class="sett"><p>Technology & Automation</p></div>
<div class="sett"><p>SMS Marketing</p></div>
<div class="sett"><p>Cloud BackUp</p></div>
<div class="sett"><p>Alpha Print</p></div>
<div class="sett"><p>Alpha Influencers</p></div>
<div class="sett"><p>Podcast Room</p></div>
<div class="sett"><p>Alpha Academy</p></div>
</div>

<div class="flex-center st-link">
<button onclick="toggleQuote()">
Get started
<span class="material-symbols-outlined"> arrow_right_alt </span>
</button>
</div>
</div>

<div class="flex-center s-main" data-aos="fade-up">
<div class="flex-center flex-col sm active">
<div class="flex-center sm-title">
<h3>Digital Marketing</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Marketing-Digital.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Digital Strategy, Content creation, Social media management,
Optimization: Entrust your digital presence to our
experienced consultants. Together, let's achieve your goals
and grow your business.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>100<span>+</span></h4>
<span id="smcs-line"></span>
<p>Customers Served</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
4.5/5
<span class="material-symbols-outlined"> star </span>
</h4>
<span id="smcs-line"></span>
<p>Reviews</p>
</div>

<div class="flex-center flex-col smcs">
<h4>3<span>x</span></h4>
<span id="smcs-line"></span>
<p>Revenue</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'dm'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>Technology & Automation</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Technologie-Ai.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Website, Applications, Automation Software, data collection
and analysis: Our tailor-made solutions will help you
achieve your goals.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>50<span>+</span></h4>
<span id="smcs-line"></span>
<p>Website</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
20
<span>+</span>
</h4>
<span id="smcs-line"></span>
<p>AI Powered Solutions</p>
</div>

<div class="flex-center flex-col smcs">
<h4>70<span>+</span></h4>
<span id="smcs-line"></span>
<p>Automated Systems</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'ita'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>SMS Marketing</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/sms.jpg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Our expert copywriters and marketing moguls guide you in
crafting engaging, personal and effective messages. We've
done it for 100+ businesses per year, you can also take
advantage of it.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>99<span>%</span></h4>
<span id="smcs-line"></span>
<p>Open Rate</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
4.8/5
<span>⭐</span>
</h4>
<span id="smcs-line"></span>
<p>Reviews</p>
</div>

<div class="flex-center flex-col smcs">
<h4>999<span>k</span></h4>
<span id="smcs-line"></span>
<p>SMS Delivered</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'sms'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>Cloud Backup</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/cloud-backup.webp"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
As entrepreneurs too, we understand the constant worry about
data security and the burden of manual backups. That's why
we created a cloud backup solution specifically designed for
you.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>300<span>+</span></h4>
<span id="smcs-line"></span>
<p>Customers Per Year</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
99.9
<span>%</span>
</h4>
<span id="smcs-line"></span>
<p>Data Recovered</p>
</div>

<div class="flex-center flex-col smcs">
<h4>100<span>%</span></h4>
<span id="smcs-line"></span>
<p>Security</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'cloud'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>Alpha Print</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Alpha-Print.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
If you can imagine it we can design it and make it available
to you on any physical support.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>500<span>+</span></h4>
<span id="smcs-line"></span>
<p>Projects</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
5/5
<span class="material-symbols-outlined"> star </span>
</h4>
<span id="smcs-line"></span>
<p>Reviews</p>
</div>

<div class="flex-center flex-col smcs">
<h4>90<span>%</span></h4>
<span id="smcs-line"></span>
<p>Recurring Customers</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'ap'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>Alpha Influencers</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Alpha-Influencers.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Outsource your influencer campaigns successfully! From
selecting influencers to reporting results, we take care of
everything.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>15<span>K+</span></h4>
<span id="smcs-line"></span>
<p>Creators</p>
</div>

<div class="flex-center flex-col smcs">
<h4>1<span>M+</span></h4>
<span id="smcs-line"></span>
<p>Engagements</p>
</div>

<div class="flex-center flex-col smcs">
<h4>500<span>K+</span></h4>
<span id="smcs-line"></span>
<p>Sales</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'ai'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>The Podcast Room</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Podcast-Room.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Ready to turn your podcast dreams into reality? The Podcast
Room is your one-stop spot for professional recording,
editing and marketing services.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>4<span>+</span></h4>
<span id="smcs-line"></span>
<p>Different Sets</p>
</div>

<div class="flex-center flex-col smcs">
<h4>One</h4>
<span id="smcs-line"></span>
<p>Dream Team</p>
</div>

<div class="flex-center flex-col smcs">
<h4>100<span>%</span></h4>
<span id="smcs-line"></span>
<p>Satisfied Customers</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'pr'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>

<div class="flex-center flex-col sm">
<div class="flex-center sm-title">
<h3>Alpha Academy</h3>

<div class="flex-center smt-img">
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>

<div class="flex-center sm-content">
<div class="flex-center smc-img">
<img
src="https://alphacreative.netlify.app/assets/img/services/Alpha-Academie.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center flex-col smc-text">
<p>
Boost your employees with the digital skills of today and
tomorrow! We equip learners with skills in Web, Ms Office
(Word - PowerPoint - Excel) Digital Marketing, Content
Creation and Artificial Intelligence.
</p>

<div class="flex-center smc-stats">
<div class="flex-center flex-col smcs">
<h4>5<span>K</span></h4>
<span id="smcs-line"></span>
<p>Learners</p>
</div>

<div class="flex-center flex-col smcs">
<h4>25</h4>
<span id="smcs-line"></span>
<p>Experts</p>
</div>

<div class="flex-center flex-col smcs">
<h4>
4.9/5<span class="material-symbols-outlined">
star
</span>
</h4>
<span id="smcs-line"></span>
<p>Reviews</p>
</div>
</div>

<button
class="flex-center smc-btn"
onclick="window.location.href = 'aa'"
>
Learn More
<span class="material-symbols-outlined">
arrow_outward
</span>
</button>
</div>
</div>
</div>
</div>
</div>

<div class="flex-center s-header">
<div class="flex-center sh">
<p>Digital Marketing</p>
<i class="bx bxs-circle"></i>
<p>Technology & Automation</p>
<i class="bx bxs-circle"></i>
<p>Alpha Print</p>
<i class="bx bxs-circle"></i>
</div>

<div class="flex-center sh">
<p>Alpha Influencers</p>
<i class="bx bxs-circle"></i>
<p>Podcast Room</p>
<i class="bx bxs-circle"></i>
<p>Alpha Academy</p>
<i class="bx bxs-circle"></i>
</div>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>Your Project In <span>3 Steps</span></h3>

<div class="flex-center stt">
<p>Pay As You Go</p>
</div>
</div>

<div class="flex-center stm">
<div class="flex-center flex-col stmc">
<span>Step 01.</span>

<div class="flex-center stmc-text">
<p>Place Your Order And Pay</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Get Started</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 02.</span>

<div class="flex-center stmc-text">
<p>Fill Project Details Form</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Get Started</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 03.</span>

<div class="flex-center stmc-text">
<p>Delivery Of Final Project</p>
</div>

<div class="flex-center stmc-btn">
<button onclick="toggleQuote()">Get Started</button>
</div>
</div>
</div>
</div>
</section>

<!------------ ========== CLIENT SECTION ========== ------------>
<section class="flex-center client">
<div class="flex-center flex-col cl-container">
<div class="flex-center cl-title">
<h3>
We are grateful to work with <span>incredible clients</span>
</h3>
</div>

<div class="flex-center cl-cards">
<div class="flex-center clc">
<img
src="https://alphacreative.netlify.app/assets/img/clients/Bi.flaz/bif-1.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center clc">
<img
src="https://alphacreative.netlify.app/assets/img/clients/studios-africa/sa-2.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center clc">
<img
src="https://alphacreative.netlify.app/assets/img/clients/talenbo/tal-3.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center clc">
<img
src="https://alphacreative.netlify.app/assets/img/clients/Bontuteur/bon-3.svg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center clc">
<img src="https://alphacreative.netlify.app/assets/img/clients/HEC/hec.png" alt="" loading="lazy" />
</div>

<div class="flex-center clc">
<img src="https://alphacreative.netlify.app/assets/img/clients/hmc/hmc.png" alt="" loading="lazy" />
</div>
</div>
</div>
</section>

<!------------ ========== FAQ SECTION ========== ------------>
<section class="flex-center faq" id="faq">
<div class="flex-center faq-container">
<div class="flex-center f-img">
<img src="https://alphacreative.netlify.app/assets/img/background/faq.jpg" alt="" loading="lazy" />
</div>

<div class="flex-center flex-col f-content">
<div class="flex-center flex-col fc-text">
<span>FAQ</span>
<h3>Frequently Asked Questions</h3>

<p>You've got questions? We've got answers!</p>
</div>

<div class="flex-center flex-col fc-list">
<div class="flex-center flex-col fcl">
<p>What services do you offer?</p>
<span>
Alpha Creative offers a range of 360-degree services for the
development of your activities
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What types of companies do you work for?</p>
<span>
Alpha Creative works with businesses of all sizes, across all
industries. We specialize in providing full-stack creative
services for B2B and B2C companies.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>How do you define success?</p>
<span>
We define success as achieving our clients' goals. We measure
the success of our campaigns in terms of awareness,
engagement, lead generation and sales.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What is your work process?</p>
<span>
We work closely with our clients to understand their needs and
goals. We then develop a personalized strategy to achieve
these objectives.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What are the needs of the clients you work with?</p>
<span>
Our clients' needs vary depending on their size, industry and
goals. However, some common needs include: <br />
<strong>Notoriety Development</strong> ●
<strong>Improve their brand image</strong> ●
<strong>Leads Generation</strong> ●
<strong>Boost Sales</strong>
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>
</div>
</div>
</div>
</section>

<!------------ ========== CONTACT SECTION ========== ------------>
<section class="flex-center contact" id="contact">
<div class="flex-center flex-col con-container">
<div class="flex-center flex-col con-title">
<h3>Haven't found what you are looking for?</h3>
<p>
Don't fret! Connect with us below via any medium of your choice
</p>
</div>

<div class="flex-center con-cards">
<div class="flex-center flex-col cc" data-aos="fade-up">
<i class="bx bxl-whatsapp" id="cc-icon"></i>
<h4>Chat to support</h4>
<p>Chat with our friendly team</p>
<a href="https://wa.me/2250713807994" target="_blank"
>Chat on WhatsApp</a
>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="300"
>
<i class="bx bx-envelope" id="cc-icon"></i>
<h4>Send us mails</h4>
<p>We are here to help</p>
<a href="mailto:{hello@alphacreative.africa}" target="_blank"
>hello@alphacreative.africa</a
>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="400"
>
<i class="bx bx-map" id="cc-icon"></i>
<h4>Visit Us at:</h4>
<p>Cocody, Abidjan - Cote d’Ivoire</p>
<a href="" target="_blank">View on Google Maps</a>
</div>

<div
class="flex-center flex-col cc"
data-aos="fade-up"
data-aos-delay="500"
>
<i class="bx bx-phone-call" id="cc-icon"></i>
<h4>Call us</h4>
<p>Mon-Fri 8am to 5pm</p>
<a href="tel:{+2250713807994}" target="_blank"
>+225 07 13 807 994</a
>
</div>
</div>
</div>
</section>
</main>

<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>




<!-- <<<<<<<< SCRIPT >>>>>>>> -->
<script>
document.addEventListener("DOMContentLoaded", function () {
var items = document.querySelectorAll(".hctl");
var currentIndex = 0;

function showNextItem() {
items[currentIndex].classList.remove("active");
currentIndex = (currentIndex + 1) % items.length;
items[currentIndex].classList.add("active");
}

setInterval(showNextItem, 3000); // Adjust the interval as needed (in milliseconds)
});
</script>

<script src="/public/js/popup.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<script src="/public/js/app.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>