<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="https://alphacreative.netlify.app/assets/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="https://alphacreative.netlify.app/assets/img/favicon/site.webmanifest" />

<title>The Podcast Room - Alpha Creative</title>
</head>

<body ng-controller="MainController">



<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>



<main class="pr-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
The Podcast Room, <span>Amplify</span> your voice, Captivate
your audience
</h1>

<p>
Ready to turn your podcast dreams into reality? The Podcast Room
is your all-in-one studio for professional recording, editing
and marketing services.
</p>
</div>

<button
class="flex-center sec-btn"
onclick="window.location.href = 'contact'"
>
Book Your Session
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>A whole Creative studio just for you</h3>
<p>
Entrust the creation of your creative projects to an Alpha team
with dual operational and creative expertise. We work with 50+
companies of various sectors per year.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01.</span>
<h4>Studio Ultra Modern</h4>
<p>
Access an ultra-modern recording room for impeccable audio &
video quality.
</p>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>Experienced Team</h4>
<p>A passionate team dedicated to the success of your podcast.</p>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>Assured Post Production</h4>
<p>
Flawless editing and post-production to take your podcast to the
next level.
</p>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<!-- <div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="500"
>
<span>04</span>
<h4>Reach Your Target Audience</h4>
<p>
Strategic marketing support to reach your target audience and
increase your number of listeners.
</p>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div> -->
</div>
</div>
</section>

<!------------ ========== PR-PRICING SECTION ========== ------------>
<section class="flex-center prp">
<div class="flex-center flex-col prp-container">
<div class="flex-center flex-col prp-title">
<span>Podcast Room Pricing</span>
<h3>Our pricing is <strong>simple</strong> with no hidden fees</h3>
<p>Choose the pricing that works best for you</p>
</div>

<div class="flex-center prp-cards">
<div class="flex-center flex-col prpc" data-aos="fade-up">
<div class="flex-center flex-col prpc-title">
<span>NANO</span>
<p>On enregistre.</p>
<p>Et vous montez la video.</p>
</div>

<div class="flex-center flex-col prpc-main">
<h4>60,000 <span>Fcfa/ Heure</span></h4>
<p>Si vous etes / avez un monteur.</p>
<button
class="flex-center prpc-btn"
onclick="window.location.href = 'contact'"
>
<p>Reserver</p>
<i class="bx bx-right-arrow-alt"></i>
</button>
</div>

<ul class="flex-center flex-col prpc-list">
<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Capitation audio & video</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Fichiers sources audio & video</p>
</li>

<li class="prpcl">
<i class="bx bxs-x-circle"></i>
<p>Synchronization & mixage</p>
</li>

<li class="prpcl">
<i class="bx bxs-x-circle"></i>
<p>Premontage</p>
</li>

<li class="prpcl">
<i class="bx bxs-x-circle"></i>
<p>Insertion d'un intro/outro fournie</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Livraisons sous 24h</p>
</li>
</ul>
</div>

<div
class="flex-center flex-col prpc"
data-aos="fade-up"
data-aos-delay="300"
>
<div class="flex-center flex-col prpc-title">
<span>PRO</span>
<p>On enregistre.</p>
<p>Et on pre-monte la video.</p>
</div>

<div class="flex-center flex-col prpc-main">
<h4>100,000 <span>Fcfa/ Heure</span></h4>
<p>Si vous voulez publier ou approfondir le montage.</p>
<button
class="flex-center prpc-btn"
onclick="window.location.href = 'contact'"
>
<p>Reserver</p>
<i class="bx bx-right-arrow-alt"></i>
</button>
</div>

<ul class="flex-center flex-col prpc-list">
<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Capitation audio & video</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Fichiers sources audio & video</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Synchronization & mixage</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Premontage</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Insertion d'un intro/outro fournie</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Livraisons sous 24h</p>
</li>
</ul>
</div>

<div
class="flex-center flex-col prpc"
data-aos="fade-up"
data-aos-delay="400"
>
<div class="flex-center flex-col prpc-title">
<span>ENTERPRISE</span>
<p>On s'occupe de tout.</p>
<p>Confiez-nous votre projet.</p>
</div>

<div class="flex-center flex-col prpc-main">
<h4>Sur devis</h4>
<p>Si vous voulez bien plus qu'une video.</p>
<button
class="flex-center prpc-btn"
onclick="window.location.href = 'contact'"
>
<p>Contacter</p>
<i class="bx bx-right-arrow-alt"></i>
</button>
</div>

<ul class="flex-center flex-col prpc-list">
<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Strategie 100% personnalisee</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Accompagnement editorial</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>

<p>Montage complet selon brief</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>

<p>Coaching prise de parole</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>

<p>Creation de branding</p>
</li>

<li class="prpcl">
<i class="bx bxs-check-circle"></i>
<p>Distribution du contenu</p>
</li>
</ul>
</div>
</div>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>How Does It Work?</h3>

<div class="flex-center st-tags">
<div class="flex-center stt active">
<p>4 Simple Steps</p>
</div>
</div>
</div>

<div class="flex-center st-main" data-aos="fade-up">
<div class="flex-center stm">
<div class="flex-center flex-col stmc">
<span>Step 01.</span>

<div class="flex-center stmc-text">
<p>Book your session</p>
<span id="stmct"
>Choose the package that suits you and book your
session.</span
>
</div>

<div class="flex-center stmc-btn">
<button onclick="window.location.href = 'contact'">
Get Started
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 02.</span>

<div class="flex-center stmc-text">
<p>Promotion</p>
<span id="stmct"
>We help you promote your podcast on our platforms.</span
>
</div>

<div class="flex-center stmc-btn">
<button onclick="window.location.href = 'contact'">
Get Started
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 03.</span>

<div class="flex-center stmc-text">
<p>Shooting day</p>
<span id="stmct"
>On the day of your session, our team will prepare the room
for you 30 minutes before your chosen time so you can start
immediately.</span
>
</div>

<div class="flex-center stmc-btn">
<button onclick="window.location.href = 'contact'">
Get Started
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 04.</span>

<div class="flex-center stmc-text">
<p>Editing</p>
<span id="stmct"
>Depending on your package our team of experts will do their
magic and give you the final project (Video and Audio
version) ready to be shown to the whole world.</span
>
</div>

<div class="flex-center stmc-btn">
<button onclick="window.location.href = 'contact'">
Get Started
</button>
</div>
</div>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">50</h4>
<sub>+</sub>
</div>
<span></span>
<p>Companies Supported / Yr</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="500">500</h4>
<sub>+</sub>
</div>
<span></span>
<p>Projects Delivered</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">100</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Monthly Media Budget</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">10</h4>
<sub>+</sub>
</div>
<span></span>
<p>Seasoned Experts</p>
</div>
</div>
</div>
</section>

<!------------ ========== FAQ SECTION ========== ------------>
<section class="flex-center faq" id="faq">
<div class="flex-center faq-container">
<div class="flex-center f-img">
<img src="https://alphacreative.netlify.app/assets/img/background/faq.jpg" alt="" loading="lazy" />
</div>

<div class="flex-center flex-col f-content">
<div class="flex-center flex-col fc-text">
<span>FAQ</span>
<h3>Frequently Asked Questions</h3>

<p>You've got questions? We've got answers!</p>
</div>

<div class="flex-center flex-col fc-list">
<div class="flex-center flex-col fcl">
<p>What services do you offer?</p>
<span>
Alpha Creative offers a range of 360-degree services for the
development of your activities
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What types of companies do you work for?</p>
<span>
Alpha Creative works with businesses of all sizes, across all
industries. We specialize in providing full-stack creative
services for B2B and B2C companies.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>How do you define success?</p>
<span>
We define success as achieving our clients' goals. We measure
the success of our campaigns in terms of awareness,
engagement, lead generation and sales.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What is your work process?</p>
<span>
We work closely with our clients to understand their needs and
goals. We then develop a personalized strategy to achieve
these objectives.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What are the needs of the clients you work with?</p>
<span>
Our clients' needs vary depending on their size, industry and
goals. However, some common needs include: <br />
<strong>Notoriety Development</strong> ●
<strong>Improve their brand image</strong> ●
<strong>Leads Generation</strong> ●
<strong>Boost Sales</strong>
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>
</div>
</div>
</div>
</section>
</main>




<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>


<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "center center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
