<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="https://alphacreative.netlify.app/assets/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="https://alphacreative.netlify.app/assets/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="https://alphacreative.netlify.app/assets/img/favicon/site.webmanifest" />

<title>SMS Marketing - Alpha Creative</title>
</head>

<body ng-controller="MainController">


<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>


<main class="sms-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
A <span>SMS Marketing</span> service designed to help businesses
like yours win.
</h1>

<p>
Deliver engaging, personal and effective SMS to your audience..
</p>
</div>

<button
class="flex-center sec-btn"
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Start Testing
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>Get expert guidance from Alphas who care</h3>
<p>
Our expert copywriters and marketing moguls guide you in crafting
engaging, personal and effective messages. We’ve done it for 100+
businesses per year, you can also take advantage of it.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01.</span>
<h4>10 Experts</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>99% Open Rate</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>4.8/5 ⭐ Reviews</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="500"
>
<span>04.</span>
<h4>AI Powered</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>05.</span>
<h4>Access Analytics</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>06.</span>
<h4>200k+ SMS/Month</h4>
<img
src="https://alphacreative.netlify.app/assets/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== S-APPROACH SECTION ========== ------------>
<section class="flex-center sa">
<div class="flex-center flex-col sa-container" data-aos="fade-up">
<div class="flex-center sa-title">
<h3>Powerful Solution for Effortless Communication</h3>
<p>
Connect with your customers, partners, and staff and ensure quick
and reliable communications with one click.
</p>
</div>

<div class="flex-center sa-content">
<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="https://alphacreative.netlify.app/assets/img/icons/import.png" alt="" loading="lazy" />

<h5>Import your audience or build one with opt-in tools</h5>
</div>

<div class="flex-center sac-content">
<p>
Already have contacts and permission to text them? Great. If
not, we have you covered with all the tools you need to
collect phone numbers.
</p>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="https://alphacreative.netlify.app/assets/img/icons/clicks.png" alt="" loading="lazy" />

<h5>Drive sales, clicks, and more with SMS marketing</h5>
</div>

<div class="flex-center sac-content">
<p>
If you have a message that you don't want to be ignored, an
SMS marketing campaign is the way to go.
</p>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img
src="https://alphacreative.netlify.app/assets/img/icons/auto-sms.png"
alt=""
loading="lazy"
/>

<h5>Set up automatic texts that send at the perfect moment</h5>
</div>

<div class="flex-center sac-content">
<p>
With built-in automation features, our text marketing platform
makes SMS marketing automation available to all.
</p>
</div>
</div>
</div>

<button
class="flex-center sec-btn"
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Get Started
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>How Does It Work</h3>

<div class="flex-center st-tags">
<div class="flex-center stt active">
<p>4 Simple Steps</p>
</div>
</div>
</div>

<div class="flex-center st-main" data-aos="fade-up">
<div class="flex-center stm active stm-1">
<div class="flex-center flex-col stmc">
<span>Step 01.</span>

<div class="flex-center stmc-text">
<p>Meet our Experts</p>
<span id="stmct"
>Schedule a free 30-minute consultation to discuss your
goals and budget for your SMS marketing campaign.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Reach your audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 02.</span>

<div class="flex-center stmc-text">
<p>Personalized Strategy</p>
<span id="stmct"
>We'll work with you to craft a targeted SMS marketing
strategy that aligns perfectly with your brand and target
audience.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Reach your audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 03.</span>

<div class="flex-center stmc-text">
<p>Campaign Launch</p>
<span id="stmct"
>Our team will handle the entire campaign execution, from
crafting engaging messages to sending them at the optimal
time.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Reach your audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Step 04.</span>

<div class="flex-center stmc-text">
<p>Results and Optimization</p>
<span id="stmct"
>We'll provide comprehensive campaign reports and insights,
allowing you to track success and optimize future campaigns
for even better results.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Reach your audience
</button>
</div>
</div>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">50</h4>
<sub>+</sub>
</div>
<span></span>
<p>Companies Supported / Yr</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="999">999</h4>
<sub>K+</sub>
</div>
<span></span>
<p>Messages Delivered</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">100</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Monthly Media Budget</p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">10</h4>
<sub>+</sub>
</div>
<span></span>
<p>Seasoned Experts</p>
</div>
</div>
</div>
</section>

<!------------ ========== FAQ SECTION ========== ------------>
<section class="flex-center faq" id="faq">
<div class="flex-center faq-container">
<div class="flex-center f-img">
<img src="https://alphacreative.netlify.app/assets/img/background/faq.jpg" alt="" loading="lazy" />
</div>

<div class="flex-center flex-col f-content">
<div class="flex-center flex-col fc-text">
<span>FAQ</span>
<h3>Frequently Asked Questions</h3>

<p>You've got questions? We've got answers!</p>
</div>

<div class="flex-center flex-col fc-list">
<div class="flex-center flex-col fcl">
<p>What services do you offer?</p>
<span>
Alpha Creative offers a range of 360-degree services for the
development of your activities
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What types of companies do you work for?</p>
<span>
Alpha Creative works with businesses of all sizes, across all
industries. We specialize in providing full-stack creative
services for B2B and B2C companies.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>How do you define success?</p>
<span>
We define success as achieving our clients' goals. We measure
the success of our campaigns in terms of awareness,
engagement, lead generation and sales.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What is your work process?</p>
<span>
We work closely with our clients to understand their needs and
goals. We then develop a personalized strategy to achieve
these objectives.
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>

<div class="flex-center flex-col fcl">
<p>What are the needs of the clients you work with?</p>
<span>
Our clients' needs vary depending on their size, industry and
goals. However, some common needs include: <br />
<strong>Notoriety Development</strong> ●
<strong>Improve their brand image</strong> ●
<strong>Leads Generation</strong> ●
<strong>Boost Sales</strong>
</span>
<i class="bx bx-plus" id="fcl-icon"></i>
</div>
</div>
</div>
</div>
</section>
</main>




<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>


<!-- <<<<<<<< SCRIPT >>>>>>>> -->
<script>
// JavaScript function to open the link in a new tab
function redirectToLink(url) {
window.open(url, "_blank"); // Open the specified URL in a new tab
}
</script>


<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
