<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="/public/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/public/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/public/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/public/img/favicon/site.webmanifest" />

<title>SMS Marketing - Alpha Creative</title>
</head>

<body ng-controller="MainController">


<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>


<main class="sms-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
Une solution <span>SMS marketing</span>  conçue pour aider les entreprises comme la vôtre à gagner
</h1>

<p>
Envoyez des SMS engageants, personnalisés et efficaces à votre public.
</p>
</div>

<button
class="flex-center sec-btn"
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Envoyer des SMS
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>Bénéficiez des conseils d'experts qui ont vos intérêts à coeur</h3>
<p>
Nos experts copywriters et magnats du marketing vous guident dans la création de messages engageants, personnalisés et efficaces. Nous le faisons pour plus de 100 PME/mois, vous pouvez aussi en  profiter.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01.</span>
<h4>10 Experts</h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>99% Taux d'ouverture</h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>4.8/5 ⭐ Avis</h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="500"
>
<span>04.</span>
<h4>Alimenté par l'IA</h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>05.</span>
<h4>Analyse performances</h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>06.</span>
<h4>200K SMS/Mois </h4>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== S-APPROACH SECTION ========== ------------>
<section class="flex-center sa">
<div class="flex-center flex-col sa-container" data-aos="fade-up">
<div class="flex-center sa-title">
<h3>Solution puissante pour une communication sans faille</h3>
<p>
Créez du lien avec vos clients, partenaires et employés ainsi que des communications rapides et fiables en 1  seul clic.
</p>
</div>

<div class="flex-center sa-content">
<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/import.png" alt="" loading="lazy" />

<h5>Importez votre audience ou créez-en une avec nos outils:</h5>
</div>

<div class="flex-center sac-content">
<p>
Vous avez déjà des contacts et la permission de leur envoyer des SMS? Super! Sinon, nous vous proposons tous les outils dont vous avez besoin pour collecter des numéros de téléphone.
</p>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/clicks.png" alt="" loading="lazy" />

<h5>Générez des ventes, clics et bien plus grâce au SMS Marketing: </h5>
</div>

<div class="flex-center sac-content">
<p>
Si vous avez un message que vous ne voulez pas voir ignorer, une campagne de SMS marketing est la voie à suivre.
</p>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img
src="/public/img/icons/auto-sms.png"
alt=""
loading="lazy"
/>

<h5>Configurez des SMS automatiques qui sont envoyés au moment idéal : </h5>
</div>

<div class="flex-center sac-content">
<p>
Grâce à des fonctionnalités d'automatisation intégrées, notre solution rend l'automatisation accessible à tous.
</p>
</div>
</div>
</div>

<button
class="flex-center sec-btn"
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Essayez le SMS marketing
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<section class="flex-center steps">
<div class="flex-center flex-col st-container">
<div class="flex-center st-title">
<h3>Comment ça marche?</h3>

<div class="flex-center st-tags">
<div class="flex-center stt active">
<p>4 étapes simples</p>
</div>
</div>
</div>

<div class="flex-center st-main" data-aos="fade-up">
<div class="flex-center stm active stm-1">
<div class="flex-center flex-col stmc">
<span>Etape 01.</span>

<div class="flex-center stmc-text">
<p>Rencontrez nos experts</p>
<span id="stmct"
>Un appel de  25 minutes pour discuter de vos objectifs et du budget de votre campagne de marketing SMS.
</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Créer du lien avec votre audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 02.</span>

<div class="flex-center stmc-text">
<p>Stratégie personnalisée</p>
<span id="stmct"
>Nous travaillerons avec vous pour élaborer une stratégie de SMS marketing ciblée qui correspond parfaitement à votre marque et à votre public cible.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Créer du lien avec votre audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 03.</span>

<div class="flex-center stmc-text">
<p>Lancement de la campagne</p>
<span id="stmct"
>Notre équipe gère l’intégralité de l’exécution de la campagne, depuis la création de messages engageants jusqu’à leur envoi au moment optimal.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Créer du lien avec votre audience
</button>
</div>
</div>

<div class="flex-center flex-col stmc">
<span>Etape 04.</span>

<div class="flex-center stmc-text">
<p>Résultats et optimisation</p>
<span id="stmct"
>Nous fournirons des rapports et des informations complètes sur les campagnes, vous permettant de suivre le succès et d'optimiser les futures campagnes pour des résultats encore meilleurs.</span
>
</div>

<div class="flex-center stmc-btn">
<button
onclick="redirectToLink('https://alphacreative.typeform.com/smsmarketing')"
>
Créer du lien avec votre audience
</button>
</div>
</div>
</div>
</div>

<div class="flex-center a-stats" data-aos="fade-up">
<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="50">50</h4>
<sub>+</sub>
</div>
<span></span>
<p>PME/An </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="500">500</h4>
<sub>K+</sub>
</div>
<span></span>
<p>projets livrés </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<sub>$</sub>
<h4 class="count" data-target="100">100</h4>
<sub>k+</sub>
</div>
<span></span>
<p>Budget média mensuel </p>
</div>

<div class="flex-center flex-col as">
<div class="flex-center as-no">
<h4 class="count" data-target="10">10</h4>
<sub>+</sub>
</div>
<span></span>
<p>Experts</p>
</div>
</div>
</div>
</section>

<!------------ ========== FAQ SECTION ========== ------------>
<%-include('components/faq-home')%>
</main>




<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>


<!-- <<<<<<<< SCRIPT >>>>>>>> -->
<script>
// JavaScript function to open the link in a new tab
function redirectToLink(url) {
window.open(url, "_blank"); // Open the specified URL in a new tab
}
</script>


<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
